@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html {
  font-size: 100%;
} /*16px*/

body {
  background: #5cdb95;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #05386b;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

#root {
  .container {
    padding: 1rem;
  }

  .legends,
  .vehVendor,
  .vehAvails {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #05386b;
    h2 {
      margin: 0;
      font-size: 1.2rem;
      color: #fff;
      font-weight: bold;
    }
  }
  .vehVendor {
    ul {
      list-style: none;
      display: flex;
      padding: 0;
    }
    ul li {
      border: 1px solid #05386b;
      padding: 1rem;
      margin-right: 5px;
      border-radius: 5px;
      &:hover {
        background-color: #edf5e1;
        cursor: pointer;
      }
    }
  }
  .vehAvails {
    .cards {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
    }
    .card {
      flex: 0 0 250px;
      margin: 10px;
      background-color: #edf5e1;
      border: 1px solid #05386b;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .card img {
      max-width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #05386b;
    }
    .card .text {
      padding: 0 20px 20px;
    }
    .card .text p {
      word-break: break-all;
      span.title {
        font-weight: bold;
      }
      span.title::after {
        content: " - ";
      }
    }
    .card .text p span.card-text::after {
      content: ", ";
    }
    .card .text h4 {
      margin: 0 0 1rem 0;
    }
    .card .text > button {
      background: #379683;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
    }
  }
}
